*.iml
.gradle
.temp
/build-tools
/doc
/emulator
/extras
/fonts
/licenses
/patcher
/platform-tools
/platforms
/skins
/sources
/tools
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/build
/app/release
.svngit
/support.txt

